<div class='bg-blue-700 p-3 max-h-24 text-gray-200'>
  <div class='flex flex-row p-2'>
    <div class='flex-1 p-1'><a href='https://ajaxpickering.ca/' alt='AjaxPickering.ca home page'>
        <img src='ajaxpickering-logo.png' class='h-1/4'></a>
    </div>
    <div class='flex-1 px-2 pt-3'>
      <button class='font-bold hover:text-green-400' type='button' onclick='selectNav("businessNav")'>
        <i class='fas fa-briefcase p-2'></i>Find a Business</button>
      <ul class='invisible bg-blue-700 p-2' id='businessNav'>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-search p-1'></i>Find a Local Business
          </button>
        </li>
      </ul>
    </div>
    <div class='flex-1 px-2 pt-3'>
      <button class='font-bold hover:text-green-400' type='button' onclick='selectNav("restaurantNav")'>
        <i class="fas fa-utensils p-2"></i>Find a Restaurant</button>
      <ul class='invisible bg-blue-700 p-2' id='restaurantNav'>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-search p-1'></i>Find a Local Restaurant
          </button>
        </li>
      </ul>
    </div>
    <div class='flex-1 px-2 pt-3'>
      <button class='font-bold hover:text-green-400' type='button' onclick='selectNav("eventsNav")'>
        <i class="fas fa-calendar-alt p-2"></i>Local Events</button>
      <ul class='invisible bg-blue-700 p-2' id='eventsNav'>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-search p-1'></i>Find a Local Event
          </button>
        </li>
      </ul>
    </div>
    <div class='flex-1 px-2 pt-3'>
      <button class='font-bold hover:text-green-400' type='button' onclick='selectNav("linksNav")'>
        <i class="fas fa-link p-2"></i>Quick Links</button>
      <ul class='invisible bg-blue-700 p-2' id='linksNav'>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-vote-yea p-1'></i>2019 Federal Elections
          </button>
        </li>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-vote-yea p-1'></i>2018 Federal Elections
          </button>
        </li>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-camera p-1'></i>Traffic Cameras
          </button>
        </li>
        <li>
          <button class='text-sm hover:text-green-400' type='button'>
            <i class='fas fa-gas-pump p-1'></i>Local Gas Prices
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>