<h1>Site Sections</h1>
<div class='flex flex-row flex-wrap p-2 lg:p-5'>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to the Business Directory'><i class='fas fa-briefcase fa-med text-gray-200'></i></a>
  </div>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to list of Local Events'><i class='fas fa-calendar-alt fa-med  text-gray-200'></i></a>
  </div>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to Local Gas Prices'><i class='fas fa-car fa-med  text-gray-200'></i></a>
  </div>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to Local Movies'><i class='fas fa-ticket-alt fa-med  text-gray-200'></i></a>
  </div>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to the Restaurant Directory'><i class='fas fa-utensils fa-med  text-gray-200'></i></a>
  </div>
  <div class='m-1 rounded-full h-6 w-6 md:h-8 md:w-8 bg-blue-700 flex flex-none items-center justify-center'>
    <a href="#" alt='A link to the traffic cameras'><i class='fas fa-video fa-med  text-gray-200'></i></a>
  </div>
</div>